<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website PSDKU Polnep Sukamara</title>
    <link href="vendor/twbs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<header class="bg-success text-white py-4 shadow">
    <div class="container text-center" >
        <h1 class="fw-bold text-uppercase" >POLITEKNIK NEGERI PONTIANAK</h1>
        <h5>Program Studi Di Luar Kampus Utama di Kabupaten Sukamara</h5>
    </div>
</header>


